@media screen and (min-width: 300px) {

    .map {
    width: 90%;
    height: 90%;
}

.body {
    height: 95%;
    height: 95%;
    flex-direction:row;
    flex-wrap:wrap;
    display:flex;
    align-items: center;
  justify-content: center;
}

.shops {
    flex-direction:row;
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    padding: 3px;
}

.shop {
    width: 90%;
    box-shadow: 1px 1px 2px 1px #9e9e9e;
    margin: 3px;
    padding: 8px;

}}


@media screen and (min-width: 731px) {

    .map {
    width: 90%;
    height: 90%;
}

.body {
    height: 95%;
    height: 95%;
    flex-direction:row;
    flex-wrap:wrap;
    display:flex;
    align-items: center;
  justify-content: center;
}

.shops {
    flex-direction:row;
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    padding: 3px;
}

.shop {
    width: 45%;
    box-shadow: 1px 1px 2px 1px #9e9e9e;
    margin: 3px;
    padding: 8px;

}}




@media screen and (min-width: 900px) {
.map {
    width: 45%;
    height: 45%;
}

.body {
    height: 95%;
    height: 95%;
    flex-direction:row;
    flex-wrap:wrap;
    display:flex;
    align-items: center;
  justify-content: center;
}

.shops {
    flex-direction:row;
    flex-wrap: wrap;
    display: flex;
    width: 45%;
    padding: 3px;
}

.shop {
    width: 45%;
    box-shadow: 1px 1px 2px 1px #9e9e9e;
    margin: 3px;
    padding: 8px;

}
}


